## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [10]:
data = {'國家': ['美國','中國','印度','日本','巴西'],
        '人口':[3.3,13.8,13.4,1.3,2.1] }
data = pd.DataFrame(data)

In [15]:
data

   國家    人口
0  美國   3.3
1  中國  13.8
2  印度  13.4
3  日本   1.3
4  巴西   2.1

In [13]:
maxpop = data['人口'].max()

In [14]:
data[data['人口'] == maxpop]['國家']

1    中國
Name: 國家, dtype: object